In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#creating datbase connection
engine = create_engine(
    "mysql+pymysql://analytics:password@localhost:3306/inventory"
)

In [3]:
#checking tables present in the databse
query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'inventory'
"""

tables_df = pd.read_sql_query(query, engine)
tables_df.columns = tables_df.columns.str.lower()
tables_df

             table_name
0       begin_inventory
1         end_inventory
2        purchase_price
3             purchases
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [4]:
for current_table_name in tables_df['table_name']:

    query = f"""
    SELECT COUNT(*) AS row_count
    FROM {current_table_name}
    """

    count_df = pd.read_sql(query, engine)

    row_count = count_df['row_count'].iloc[0]

    print(current_table_name, "->", row_count)

begin_inventory -> 206529
end_inventory -> 224489
purchase_price -> 12261
purchases -> 2372474
sales -> 12825363
vendor_invoice -> 5543
vendor_sales_summary -> 10692

In [5]:
# Change the filename to your 1.5GB file name
file_path = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/begin_inventory.csv'

with open(file_path, 'r') as f:
    print("Headers:", f.readline())  # This prints line 1
    print("Data Row:", f.readline()) # This prints line 2 so I can see the data types

Headers: InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate

Data Row: 1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01

In [6]:
# Change the filename to your 1.5GB file name
file_path = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/end_inventory.csv'

with open(file_path, 'r') as f:
    print("Headers:", f.readline())  # This prints line 1
    print("Data Row:", f.readline()) # This prints line 2 so I can see the data types

Headers: InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate

Data Row: 1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31

In [7]:
# Change the filename to your 1.5GB file name
file_path = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/purchase_prices.csv'

with open(file_path, 'r') as f:
    print("Headers:", f.readline())  # This prints line 1
    print("Data Row:", f.readline()) # This prints line 2 so I can see the data types

Headers: Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName

Data Row: 58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD

In [8]:
# Change the filename to your 1.5GB file name
file_path = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/purchases.csv'

with open(file_path, 'r') as f:
    print("Headers:", f.readline())  # This prints line 1
    print("Data Row:", f.readline()) # This prints line 2 so I can see the data types

Headers: InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification

Data Row: 69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC         ,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1

In [9]:
# Change the filename to your 1.5GB file name
file_path = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/sales.csv'

with open(file_path, 'r') as f:
    print("Headers:", f.readline())  # This prints line 1
    print("Data Row:", f.readline()) # This prints line 2 so I can see the data types

Headers: InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName

Data Row: 1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [10]:
# Change the filename to your 1.5GB file name
file_path = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/vendor_invoice.csv'

with open(file_path, 'r') as f:
    print("Headers:", f.readline())  # This prints line 1
    print("Data Row:", f.readline()) # This prints line 2 so I can see the data types

Headers: VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval

Data Row: 105,ALTAMAR BRANDS LLC         ,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,

In [11]:
display(pd.read_sql(f"SELECT * FROM {current_table_name} LIMIT 5", engine))

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRate
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,145080.0,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.037271,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,164038.0,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.042125,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,187407.0,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.054746,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,201682.0,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.061453,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,138109.0,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.044932,1.396897

In [12]:
test_query = "SELECT VendorNumber, COUNT(*) FROM purchases GROUP BY VendorNumber LIMIT 5"
print(pd.read_sql_query(test_query, engine))

   VendorNumber  COUNT(*)
0           105        57
1          4466      2192
2           388       266
3           480     91846
4           516     23510

In [13]:
purchases_4466 = pd.read_sql_query(f"SELECT * FROM purchases WHERE VendorNumber = 4466", engine)
purchases_4466.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1

In [14]:
purchase_prices_4466 = pd.read_sql_query(f"SELECT * FROM purchase_price WHERE VendorNumber = 4466", engine)
purchase_prices_4466.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [15]:
vendor_invoice_4466 = pd.read_sql_query(f"SELECT * FROM vendor_invoice WHERE VendorNumber = 4466", engine)
vendor_invoice_4466.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,

In [16]:
sales_4466 = pd.read_sql_query(f"SELECT * FROM sales WHERE VendorNo = 4466", engine)
sales_4466.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [17]:
# Summing up the Dollars and Quantity for our specific Vendor
# This shows us exactly what we've invested in Vendor 4466
purchase_analysis = purchases_4466.groupby('Brand')[['Quantity', 'Dollars', 'Description']].sum()

print("Top Brands for Vendor 4466 by Expenditure:")
display(purchase_analysis.sort_values(by='Dollars', ascending=False).head())

Top Brands for Vendor 4466 by Expenditure:

       Quantity   Dollars                                        Description
Brand
5255       6215  58110.25  TGI Fridays Ultimte MudslideTGI Fridays Ultimt...
3140       4640  51921.60  TGI Fridays Orange DreamTGI Fridays Orange Dre...
5215       4923  46325.43  TGI Fridays Long Island IcedTGI Fridays Long I...

### Project Data Overview

* **The Purchases Table:** Contains actual purchase data, including the date of purchase, products (Brands) purchased from vendors, the amount paid (in dollars), and the quantity purchased.
* **The Purchase Price Table:** Provides product-wise actual and purchase prices. The combination of Vendor and Brand is unique here.
* **The Vendor Invoice Table:** Aggregates data from the purchase table, summarizing quantity and dollar amounts with an additional column for freight. It is unique based on Vendor and PO_Number.
* **The Sales Table:** Captures actual sales transactions, detailing the brands sold, the quantity, the selling price, and the total revenue earned.

### ðŸŽ¯ Objective: Create a Consolidated Summary Table
Since our data is currently split across different tables, we need to merge them to see the full picture. Our goal is to combine:

* [x] **Purchase Transactions:** Actual buys made from vendors.
* [ ] **Sales Transactions:** How much of that product actually sold.
* [ ] **Freight Costs:** The shipping expenses for each vendor.
* [ ] **Product Prices:** The actual cost reference from the `purchase_price` table.

In [18]:
freight_summary = pd.read_sql_query("""
    SELECT VendorNumber, SUM(freight) as FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
""", engine)
freight_summary.head()

   VendorNumber  FreightCost
0           105        62.39
1          4466       793.91
2           388       211.74
3           480     89286.27
4           516      8510.41

In [19]:
purchase_data_summary = pd.read_sql_query("""
  SELECT 
     p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, 
     pp.Volume, pp.Price as ActualPrice,
     SUM(p.Quantity) as TotalPurchaseQuantity, 
     SUM(p.Dollars) as TotalPurchaseDollars
  FROM purchases p
  JOIN purchase_price pp ON p.Brand = pp.Brand 
  WHERE p.PurchasePrice > 0
  GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, pp.Volume, pp.Price
  ORDER BY TotalPurchaseDollars DESC
""", engine)
purchase_data_summary.head()

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080.0,3811251.60
1,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038.0,3804041.22
2,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407.0,3418303.68
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682.0,3261197.94
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109.0,3023206.01

In [20]:
sales_data_summary = pd.read_sql_query("""
    SELECT 
        VendorNo, 
        Brand, 
        SUM(SalesDollars) as TotalSalesDollars, 
        SUM(SalesPrice) as TotalSalesPrice, 
        SUM(SalesQuantity) as TotalSalesQuantity, 
        SUM(ExciseTax) as TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
""", engine)
sales_data_summary.head()

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,12546,1004,15708.97,11365.46,703.0,554.21
1,12546,1005,32120.82,19349.47,918.0,359.97
2,2000,10058,293349.46,113447.03,21018.0,2348.27
3,12546,1006,1308.72,323.19,328.0,17.03
4,10754,10062,18518.71,11417.50,2029.0,225.11

### ðŸŽ¯ Objective: Create a Consolidated Summary Table
Since our data is currently split across different tables, we need to merge them to see the full picture. Our goal is to combine:

* [x] **Purchase Transactions:** Actual buys made from vendors.
* [x] **Sales Transactions:** How much of that product actually sold.
* [x] **Freight Costs:** The shipping expenses for each vendor.
* [x] **Product Prices:** The actual cost reference from the `purchase_price` table.

In [21]:
vendor_sales_summary = pd.read_sql_query("""
WITH freightSummary AS (
    SELECT 
        VendorNumber, 
        SUM(freight) as FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
PurchaseSummary AS (
    SELECT 
        p.VendorNumber, 
        p.VendorName, 
        p.Brand, 
        p.Description,
        p.PurchasePrice, 
        pp.Price as ActualPrice,
        SUM(p.Quantity) as TotalPurchaseQuantity, 
        SUM(p.Dollars) as TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_price pp ON p.Brand = pp.Brand 
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price
),
SalesSummary AS (
    SELECT 
        VendorNo, 
        Brand, 
        SUM(SalesDollars) as TotalSalesDollars, 
        SUM(SalesPrice) as TotalSalesPrice, 
        SUM(SalesQuantity) as TotalSalesQuantity, 
        SUM(ExciseTax) as TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)
SELECT 
    ps.VendorNumber, 
    ps.VendorName, 
    ps.Brand, 
    ps.Description,
    ps.PurchasePrice, 
    ps.ActualPrice, 
    ps.TotalPurchaseQuantity, 
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity, 
    ss.TotalSalesDollars, 
    ss.TotalSalesPrice, 
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss 
    ON ps.VendorNumber = ss.VendorNo AND ps.Brand = ss.Brand
LEFT JOIN freightSummary fs 
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC
""", engine)
display(vendor_sales_summary.head())
display(vendor_sales_summary.tail())

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,145080.0,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,164038.0,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,187407.0,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,201682.0,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,138109.0,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,2.0,2.64,5.0,15.95,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,6.0,2.34,134.0,65.66,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,2.0,1.48,2.0,1.98,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,1.0,1.47,72.0,143.28,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,1.0,0.71,86.0,85.14,33.66,4.46,38994.78

In [22]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'TotalPurchaseQuantity', 'TotalPurchaseDollars',
       'TotalSalesQuantity', 'TotalSalesDollars', 'TotalSalesPrice',
       'TotalExciseTax', 'FreightCost'],
      dtype='object')

This query generates a vendor-wise sales and purchase summary, which is valuable for:

### Performance Optimization:

* The query involves heavy joins and aggregation on large datasets like sales and purchases.
* Storing the pre-aggregated results avoids repeated expensive computations.
* Helps in analyzing sales, purchases , and pricing for different vendors and brands.
* Future benifits of storing this data for faster dashboarding & reporting.
* Instead of running expensive queries each time , dashboards can fetch data quickly from vendor_sala_summary.

In [23]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [24]:
vendor_sales_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
ActualPrice                0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
FreightCost                0
dtype: int64

In [25]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [26]:
# Cleaning
vendor_sales_summary.fillna(0, inplace=True)
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [27]:
# Gross Profit
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [28]:
# Profit Margin
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars']) * 100

In [29]:
# Stock Turnover
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseDollars']

In [30]:
# Sales to Purchase Rate
vendor_sales_summary['SalesToPurchaseRate'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

In [31]:
from sqlalchemy import text

with engine.connect() as conn:
    # Wrap your string inside text()
    query = text("""
    CREATE TABLE IF NOT EXISTS vendor_sales_summary (
        VendorNumber INT,
        VendorName VARCHAR(255),
        Brand INT,
        Description VARCHAR(255),
        PurchasePrice DECIMAL(10,2),
        ActualPrice DECIMAL(10,2),
        Volume DECIMAL(10,2),
        TotalPurchaseQuantity INT,
        TotalPurchaseDollars DECIMAL(15,2),
        TotalSalesQuantity INT,
        TotalSalesDollars DECIMAL(15,2), 
        TotalSalesPrice DECIMAL(15,2),
        TotalExciseTax DECIMAL(15,2),
        FreightCost DECIMAL(15,2),
        GrossProfit DECIMAL(15,2),
        ProfitMargin DECIMAL(15,2),
        StockTurnover DECIMAL(15,2),
        SalesToPurchaseRate DECIMAL(15,2),
        PRIMARY KEY (VendorNumber, Brand)
    )
    """)
    conn.execute(query)
    
    conn.commit()

In [32]:
vendor_sales_summary.to_csv("vendor_sales_summary_backup.csv", index=False)

In [33]:
import numpy as np

# 1. Replace positive and negative infinity with NaN (Not a Number)
vendor_sales_summary.replace([np.inf, -np.inf], np.nan, inplace=True)

# 2. Fill the new NaNs (and any other empty cells) with 0
vendor_sales_summary.fillna(0, inplace=True)

# 3. Double checking , this should return 0 if all infs are gone
print(f"Infinity values left: {np.isinf(vendor_sales_summary.select_dtypes(include=np.number)).values.sum()}")

Infinity values left: 0

In [34]:
vendor_sales_summary.to_sql(
    "vendor_sales_summary", 
    con=engine, 
    if_exists="replace", 
    index=False, 
    chunksize=5000
)

10692

In [35]:
display(vendor_sales_summary.head(10))
display(vendor_sales_summary.tail())

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRate
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,145080.0,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.037271,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,164038.0,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.042125,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,187407.0,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.054746,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,201682.0,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.061453,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,138109.0,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.044932,1.396897
5,480,BACARDI USA INC,3858,Grey Goose Vodka,17.77,23.99,138809.0,2466635.93,141860.0,3383912.40,446932.09,111699.19,89286.27,917276.47,27.106980,0.057512,1.371873
6,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,70783.0,2177285.08,69627.0,2773367.73,614529.34,127931.67,123780.22,596082.65,21.493098,0.031979,1.273773
7,3960,DIAGEO NORTH AMERICA INC,3102,Smirnoff Traveler,12.94,17.99,161386.0,2088334.84,148265.0,2592041.35,292586.29,272422.60,257032.07,503706.51,19.432812,0.070997,1.241200
8,3960,DIAGEO NORTH AMERICA INC,3489,Tanqueray,20.73,27.99,91835.0,1903739.55,90481.0,2640491.19,503661.02,166244.44,257032.07,736751.64,27.902068,0.047528,1.387002
9,12546,JIM BEAM BRANDS COMPANY,1376,Jim Beam,16.29,21.99,108866.0,1773427.14,107061.0,2435393.39,426902.78,196707.35,123880.97,661966.25,27.181081,0.060370,1.373269

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRate
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,2.0,2.64,5.0,15.95,10.96,0.55,27100.41,13.31,83.448276,1.893939,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,6.0,2.34,134.0,65.66,1.47,7.04,50293.62,63.32,96.436186,57.264957,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,2.0,1.48,2.0,1.98,0.99,0.10,14069.87,0.50,25.252525,1.351351,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,1.0,1.47,72.0,143.28,77.61,15.12,257032.07,141.81,98.974037,48.979592,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,1.0,0.71,86.0,85.14,33.66,4.46,38994.78,84.43,99.166079,121.126761,119.915493